In [1]:
ns = 6 #n(S) = {1,2,3,4,5,6}
na = 1 #n(A) = {3}
pa = na/ns # P(A)
print("probability of getting 3 is:",pa)

probability of getting 3 is: 0.16666666666666666

In [2]:
ns = 8 #n(S) = {HHH,HTH,HHT,HTT,TTT,THH,THT,TTH}
na = 7 #n(A) = {HHH,HTH,HHT,HTT,THH,THT,TTH}
pa = na/ns #P(A)
print("probability of getting atleast one head is:",pa)

probability of getting atleast one head is: 0.875

In [3]:
ns = 10 #n(S) = {r,r,r,r,r,b,b,b,g,g}
na = 7 #n(A) = {r,r,r,r,r,g,g}
pa = na/ns #P(A)
print("Probability that the jelly bean is not blue is:",pa)

Probability that the jelly bean is not blue is: 0.7

In [4]:
#If the probability that person A will be alive in 20 years is 0.7 and the probability that person B will be alive in 20 years 
#is 0.5,what is the probability that they will both be alive in 20 years?\
#These are independent events,so
P = 0.7*0.5
print("probability that they will be alive after 20 years is:",P)

probability that they will be alive after 20 years is: 0.35

In [5]:
def event_probability(n,s):
    return n/s

In [6]:
#A fair die is tossed twice find the probability of getting a 4 or 5 on the first toss and a 1,2 or 3 in second toss.
pa = event_probability(2,6) #probability of getting a 4 or 5
pb = event_probability(3,6) #probability of getting 1,2,3 in second toss
P = pa*pb
print("Probability of getting a 4 or 5 on the first toss and a 1,2, or 3 in the second toss is:",P)

Probability of getting a 4 or 5 on the first toss and a 1,2, or 3 in the second toss is: 0.16666666666666666

In [7]:
# A bag contains 5 white marbles,3 black marbles and 2 green marbles. In each draw a marble is drawn from the bag and not replaced
#In three draws, find the probability of obtaining white,black and green in that order.
pw = event_probability(5,10)
pb = event_probability(3,9)
pg = event_probability(2,8)
print("Probability of obtaining white,black and green in that order is:",pw*pb*pg)

Probability of obtaining white,black and green in that order is: 0.041666666666666664

In [8]:
#Sample space
cards = 52
#Calculate the probability of drawing a heart or club
hearts = 13
clubs = 13
heart_or_club = event_probability(hearts,cards) + event_probability(clubs ,cards)
print(heart_or_club)

0.5

In [9]:
#Calculate the probability of drawing an ace,king or a queen
cards = 52
a = 4
k = 4
q = 4
ace_king_or_queen = event_probability(a,cards) + event_probability(k,cards) +event_probability(q,cards) 
print("Probability of drawing an ace king or queeen is:",ace_king_or_queen)

Probability of drawing an ace king or queeen is: 0.23076923076923078

In [10]:
#Calculate the probability of drawing a heart or an ace
hearts = 13
aces = 4
ace_of_hearts = 1
heart_or_ace = event_probability(hearts,cards)+event_probability(aces,cards) - event_probability(ace_of_hearts,cards)
print("Probability of drawing a heart or an ace is:",heart_or_ace)

Probability of drawing a heart or an ace is: 0.3076923076923077

In [11]:
#Calculate the probability of drawing red cards or face cards
cards = 52
red_cards = 26
face_cards = 6
red_or_face = event_probability(red_cards,cards) + event_probability(face_cards,cards)
print("Probability of drawing red or face card is:",red_or_face)

Probability of drawing red or face card is: 0.6153846153846154

In [12]:
#probability of not getting 5 when a fair die is rolled
ns = 6 #n(S)={1,2,3,4,5,6}
na = 1 #n(A)={5}
pa = na/ns #P(A)
print("Probability of not getting 5 is:",1-pa)

Probability of not getting 5 is: 0.8333333333333334

In [13]:
#Suppose you draw 2 cards from deck. You win if you get ace given that you draw a jack in first draw
jack = 4
ace = 4
cards = 52
pj = event_probability(jack,cards)
pa = event_probability(ace,51)
pa_given_j=(pj*pa)/pj
print(pa_given_j)

0.0784313725490196

# Conditional Probability

In [14]:
import pandas as pd
import numpy as np
df = pd.read_csv("C:/Users/MSCIT/Desktop/Shivam/Anita Mam Prac/student-mat.csv")
df.head(3)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10

In [15]:
len(df)

395

In [16]:
df['grade_A'] = np.where(df['G3']*5 >= 80, 1, 0)

In [17]:
df['High_absences'] = np.where(df['absences'] >= 10, 1, 0)

In [18]:
df.head(5)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,goout,Dalc,Walc,health,absences,G1,G2,G3,grade_A,High_absences
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,1,1,3,6,5,6,6,0,0
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,1,1,3,4,5,5,6,0,0
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,2,2,3,3,10,7,8,10,0,1
3,GP,F,15,U,GT3,T,4,2,health,services,...,2,1,1,5,2,15,14,15,0,0
4,GP,F,16,U,GT3,T,3,3,other,other,...,2,1,2,5,4,6,10,10,0,0

In [19]:
df['count'] = 1

In [20]:
df = df[['grade_A','High_absences','count']]
df.head()

   grade_A  High_absences  count
0        0              0      1
1        0              0      1
2        0              1      1
3        0              0      1
4        0              0      1

In [21]:
final = pd.pivot_table(
        df,
        values='count',
        index=['grade_A'],
        columns=['High_absences'],
        aggfunc=np.size,
        fill_value=0
)

In [22]:
print(final)

High_absences    0   1
grade_A
0              277  78
1               35   5

In [23]:
total = final.iloc[0,0]+final.iloc[0,1]+final.iloc[1,0]+final.iloc[1,1]
print(total)

395

In [24]:
pa = (final.iloc[1,0]+final.iloc[1,1])/total
print(pa)

0.10126582278481013

In [25]:
pb = (final.iloc[0,1]+final.iloc[1,1])/total
print(pb)

0.21012658227848102

In [26]:
pc = (final.iloc[1,1])/total
print(pc)

0.012658227848101266

In [27]:
pd = pc/pb
print(pd)

0.060240963855421686

In [28]:
 print("The probability of getting at least an 80% final grade: ",round(pd,2))

The probability of getting at least an 80% final grade:  0.06